html,body {
  height: 100%;
  font-family: "Droid Sans";
  font-size: 14pt;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: .8em;
}


#left_frame {
  float: left;    
  height: 100%;
  width: 33%;	
}

#left_frame_header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #929292;
}

#left_frame h1 {
  margin-top: 0;
  margin-bottom: .25em;
  padding-left: .67em;
  color: #FFFFFF;
}

#left_frame h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .838em;
  color: #FFFFFF;
}

#left_frame p {
  padding-left: 1em;
  padding-right: 1em;
  font-size: .67em;
  
}

#station_details {
  margin-top: 2em;
  margin-left: .5em;
}

#map {
  height: 100%;
  width: 67%;
}

.stationNode {
  fill: #B6B6B6;
  stroke: #BF1D00;
  stroke-width: .5px;
}

.stationNode_selected {
  fill: #BF1D00;
}

.stationNode:hover {
  cursor: pointer;
}

.route {
	fill: none;
	stroke: #BF1D00;
	stroke-width: 2px;
}
