html,body {
  height: 100%;
  font-family: "Droid Sans";
  font-size: 14pt;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: .8em;
}


#left_frame {
  float: left;    
  height: 100%;
  width: 33%;	
}

#left_frame h1, h2 {
  padding-left: 5%;
}

#map {
  height: 100%;
  width: 67%;
}

#stationNode {
  fill: #BF1D00;
  stroke: #FFCB00;
  stroke-width: 1px;
}

#stationNode:hover {
  cursor: pointer;
}

.route {
	fill: none;
	stroke: #BF1D00;
	stroke-width: 2px;
}
