html,body {
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
}

#stationNode {
  fill: #BF1D00;
  stroke: #FFCB00;
  stroke-width: 1px;
}

#stationNode:hover {
  cursor: pointer;
}

.route {
	fill: none;
	stroke: #BF1D00;
	stroke-width: 2px;
}